/* Overarching editor panel (with output) */
.editor-panel {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  gap: 10px;
}

/* Our editor div */
#editor {
  border: 1px solid #293d5f;
  border-radius: 8px;
  overflow: hidden;
  min-height: 0;
}

/* CodeMirror's internal editor class */
.cm-editor {
  height: 100%;
}

#output {
  margin: 0;
  border: 1px solid #293d5f;
  border-radius: 8px;
  background: #091127;
  color: #92ffcf;
  padding: 10px;
  min-height: 56px;
  max-height: 110px;
  overflow-y: auto;
  white-space: pre-wrap;
}